.u-section-1 .u-sheet-1 {min-height: 1384px}
.u-section-1 .u-image-1 {width: 853px; height: 589px; margin: 70px auto 0}
.u-section-1 .u-group-1 {min-height: 795px; width: 651px; background-image: none; margin: -80px auto 10px}
.u-section-1 .u-container-layout-1 {padding: 50px 50px 0}
.u-section-1 .u-text-1 {font-family: "Changa One"; font-size: 3.4375rem; text-decoration: underline !important; margin: -13px -11px 0 0}
.u-section-1 .u-text-2 {font-style: italic; font-size: 1.5rem; font-weight: 700; margin: 17px 0 0}
.u-section-1 .u-text-3 {margin: 20px 0 0}
.u-section-1 .u-text-4 {font-style: italic; font-size: 1.5rem; font-weight: normal; margin: 11px auto 0}
.u-section-1 .u-image-2 {float: left; width: 200px; margin: 0 10px 10px 0} 

@media (max-width: 1199px){ .u-section-1 .u-group-1 {min-height: 941px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 900px}
.u-section-1 .u-image-1 {height: 498px; margin-top: 60px; margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-group-1 {margin-top: -106px; margin-left: 34px}
.u-section-1 .u-container-layout-1 {padding-top: 30px; padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 788px}
.u-section-1 .u-image-1 {height: 374px; width: auto; margin-right: initial; margin-left: initial}
.u-section-1 .u-group-1 {min-height: 342px; width: 480px; margin-top: -68px; margin-left: auto}
.u-section-1 .u-text-1 {margin-right: 0} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 1030px}
.u-section-1 .u-image-1 {height: 235px; width: auto; margin-right: initial; margin-left: initial}
.u-section-1 .u-group-1 {min-height: 1304px; width: 296px; margin-top: -58px}
.u-section-1 .u-container-layout-1 {padding-left: 20px; padding-right: 20px}
.u-section-1 .u-text-1 {font-size: 2rem}
.u-section-1 .u-text-2 {font-size: 1.125rem}
.u-section-1 .u-text-4 {font-size: 1.125rem; width: auto; font-weight: 700; margin-left: 0} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 974px}
.u-section-2 .u-group-1 {min-height: 323px; width: 992px; margin: 14px auto 0}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-layout-wrap-1 {pointer-events: auto; width: 840px; margin: -370px auto -33px}
.u-section-2 .u-layout-cell-1 {min-height: 230px}
.u-section-2 .u-container-layout-2 {padding: 30px}
.u-section-2 .u-layout-cell-2 {min-height: 624px}
.u-section-2 .u-container-layout-3 {padding: 30px}
.u-section-2 .u-icon-1 {height: 82px; width: 82px; background-image: none; margin: 81px auto 0 0}
.u-section-2 .u-text-1 {font-size: 2.75rem; font-weight: 400; margin: 20px auto 0 0}
.u-section-2 .u-text-2 {margin: 20px -22px 0 0}
.u-section-2 .u-image-1 {background-image: url("images/d.jpg"); background-position: 50% 50%; min-height: 402px}
.u-section-2 .u-container-layout-4 {padding: 30px}
.u-section-2 .u-layout-cell-4 {min-height: 452px}
.u-section-2 .u-container-layout-5 {padding: 30px 0}
.u-section-2 .u-text-3 {font-weight: 700; font-size: 1.875rem; margin: 0 auto 0 0}
.u-section-2 .u-text-4 {font-style: italic; font-size: 1rem; margin: 20px auto 0 0}
.u-section-2 .u-text-5 {text-transform: none; letter-spacing: normal; margin: 20px auto 0 0} 

@media (max-width: 1199px){ .u-section-2 .u-group-1 {width: 940px}
.u-section-2 .u-layout-wrap-1 {min-height: 702px} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 1641px}
.u-section-2 .u-group-1 {margin-top: 55px; margin-right: initial; margin-left: initial; width: auto}
.u-section-2 .u-layout-wrap-1 {width: 538px; margin-top: -613px; margin-bottom: -235px; margin-left: 91px}
.u-section-2 .u-layout-cell-1 {min-height: 370px}
.u-section-2 .u-layout-cell-2 {min-height: 100px}
.u-section-2 .u-image-1 {min-height: 738px}
.u-section-2 .u-layout-cell-4 {min-height: 100px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 1451px}
.u-section-2 .u-group-1 {margin-top: 14px; width: auto; margin-right: initial; margin-left: initial}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-layout-wrap-1 {width: 433px; margin-top: -370px; margin-bottom: -33px; margin-left: 53px}
.u-section-2 .u-layout-cell-1 {min-height: 220px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-layout-cell-2 {min-height: 420px}
.u-section-2 .u-text-1 {font-size: 2.25}
.u-section-2 .u-text-2 {margin-right: 0}
.u-section-2 .u-image-1 {min-height: 668px}
.u-section-2 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-layout-cell-4 {min-height: 243px}
.u-section-2 .u-text-3 {font-size: 1.5rem} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 1344px}
.u-section-2 .u-group-1 {margin-top: 56px; width: auto; margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-wrap-1 {width: 284px; margin-top: -662px; margin-bottom: -283px; margin-left: 28px}
.u-section-2 .u-layout-cell-1 {min-height: 139px}
.u-section-2 .u-layout-cell-2 {min-height: 470px}
.u-section-2 .u-text-1 {font-size: 2.25rem}
.u-section-2 .u-image-1 {min-height: 421px}
.u-section-2 .u-layout-cell-4 {min-height: 268px} }.u-section-3 {background-image: url("images/photoofawomanwalkingondesert2589010.jpg")}
.u-section-3 .u-sheet-1 {min-height: 1759px}
.u-section-3 .u-text-1 {font-size: 3.75rem; font-weight: 300; width: 740px; margin: 65px auto 0}
.u-section-3 .u-layout-wrap-1 {width: 919px; margin: 13px auto 0 61px}
.u-section-3 .u-layout-cell-1 {min-height: 150px}
.u-section-3 .u-container-layout-1 {padding: 30px}
.u-section-3 .u-text-2 {margin: 0}
.u-section-3 .u-layout-cell-2 {min-height: 150px}
.u-section-3 .u-container-layout-2 {padding: 30px 30px 15px}
.u-section-3 .u-text-3 {margin: 0}
.u-section-3 .u-text-4 {margin: 20px 0 0}
.u-section-3 .u-layout-wrap-2 {width: 919px; margin: 0 auto 0 61px}
.u-section-3 .u-layout-cell-3 {min-height: 150px}
.u-section-3 .u-container-layout-3 {padding: 30px}
.u-section-3 .u-text-5 {margin: 0}
.u-section-3 .u-layout-cell-4 {min-height: 150px}
.u-section-3 .u-container-layout-4 {padding: 30px 30px 15px}
.u-section-3 .u-text-6 {margin: 0}
.u-section-3 .u-text-7 {margin: 20px 0 0}
.u-section-3 .u-layout-wrap-3 {width: 919px; margin: 0 auto 0 61px}
.u-section-3 .u-layout-cell-5 {min-height: 150px}
.u-section-3 .u-container-layout-5 {padding: 30px}
.u-section-3 .u-text-8 {margin: 0}
.u-section-3 .u-layout-cell-6 {min-height: 150px}
.u-section-3 .u-container-layout-6 {padding: 30px 30px 15px}
.u-section-3 .u-text-9 {margin: 0}
.u-section-3 .u-text-10 {margin: 20px 0 0}
.u-section-3 .u-layout-wrap-4 {width: 919px; margin: 0 auto 0 61px}
.u-section-3 .u-layout-cell-7 {min-height: 150px}
.u-section-3 .u-container-layout-7 {padding: 30px}
.u-section-3 .u-text-11 {margin: 0}
.u-section-3 .u-layout-cell-8 {min-height: 150px}
.u-section-3 .u-container-layout-8 {padding: 30px 30px 15px}
.u-section-3 .u-text-12 {margin: 0}
.u-section-3 .u-text-13 {margin: 20px 0 0}
.u-section-3 .u-layout-wrap-5 {width: 919px; margin: 0 auto 0 61px}
.u-section-3 .u-layout-cell-9 {min-height: 150px}
.u-section-3 .u-container-layout-9 {padding: 30px}
.u-section-3 .u-text-14 {margin: 0}
.u-section-3 .u-layout-cell-10 {min-height: 150px}
.u-section-3 .u-container-layout-10 {padding: 30px 30px 15px}
.u-section-3 .u-text-15 {margin: 0}
.u-section-3 .u-text-16 {margin: 20px 0 0}
.u-section-3 .u-layout-wrap-6 {width: 919px; margin: 0 auto 0 61px}
.u-section-3 .u-layout-cell-11 {min-height: 150px}
.u-section-3 .u-container-layout-11 {padding: 30px}
.u-section-3 .u-text-17 {margin: 0}
.u-section-3 .u-layout-cell-12 {min-height: 150px}
.u-section-3 .u-container-layout-12 {padding: 30px 30px 15px}
.u-section-3 .u-text-18 {margin: 0}
.u-section-3 .u-text-19 {margin: 20px 0 0}
.u-section-3 .u-layout-wrap-7 {width: 919px; margin: 0 auto 60px 61px}
.u-section-3 .u-layout-cell-13 {min-height: 150px}
.u-section-3 .u-container-layout-13 {padding: 30px}
.u-section-3 .u-text-20 {margin: 0}
.u-section-3 .u-layout-cell-14 {min-height: 150px}
.u-section-3 .u-container-layout-14 {padding: 30px 30px 15px}
.u-section-3 .u-text-21 {margin: 0}
.u-section-3 .u-text-22 {margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 1450px}
.u-section-3 .u-layout-wrap-1 {margin-left: 21px}
.u-section-3 .u-layout-wrap-2 {margin-left: 21px}
.u-section-3 .u-layout-wrap-3 {margin-left: 21px}
.u-section-3 .u-layout-wrap-4 {margin-left: 21px}
.u-section-3 .u-layout-wrap-5 {margin-left: 21px}
.u-section-3 .u-layout-wrap-6 {margin-left: 21px}
.u-section-3 .u-layout-wrap-7 {margin-left: 21px} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 597px}
.u-section-3 .u-text-1 {width: 720px}
.u-section-3 .u-layout-wrap-1 {width: 720px; margin-left: 0}
.u-section-3 .u-layout-cell-1 {min-height: 100px}
.u-section-3 .u-layout-cell-2 {min-height: 100px}
.u-section-3 .u-layout-wrap-2 {width: 720px; margin-left: 0}
.u-section-3 .u-layout-cell-3 {min-height: 100px}
.u-section-3 .u-layout-cell-4 {min-height: 100px}
.u-section-3 .u-layout-wrap-3 {width: 720px; margin-left: 0}
.u-section-3 .u-layout-cell-5 {min-height: 100px}
.u-section-3 .u-layout-cell-6 {min-height: 100px}
.u-section-3 .u-layout-wrap-4 {width: 720px; margin-left: 0}
.u-section-3 .u-layout-cell-7 {min-height: 100px}
.u-section-3 .u-layout-cell-8 {min-height: 100px}
.u-section-3 .u-layout-wrap-5 {width: 720px; margin-left: 0}
.u-section-3 .u-layout-cell-9 {min-height: 100px}
.u-section-3 .u-layout-cell-10 {min-height: 100px}
.u-section-3 .u-layout-wrap-6 {width: 720px; margin-left: 0}
.u-section-3 .u-layout-cell-11 {min-height: 100px}
.u-section-3 .u-layout-cell-12 {min-height: 100px}
.u-section-3 .u-layout-wrap-7 {width: 720px; margin-left: 0}
.u-section-3 .u-layout-cell-13 {min-height: 100px}
.u-section-3 .u-layout-cell-14 {min-height: 100px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 772px}
.u-section-3 .u-text-1 {font-size: 3rem; margin-left: 0; margin-right: 0; width: 540px}
.u-section-3 .u-layout-wrap-1 {width: 540px}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-layout-wrap-2 {width: 540px}
.u-section-3 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-layout-wrap-3 {width: 540px}
.u-section-3 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-6 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-layout-wrap-4 {width: 540px}
.u-section-3 .u-container-layout-7 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-8 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-layout-wrap-5 {width: 540px}
.u-section-3 .u-container-layout-9 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-10 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-layout-wrap-6 {width: 540px}
.u-section-3 .u-container-layout-11 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-12 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-layout-wrap-7 {width: 540px}
.u-section-3 .u-container-layout-13 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-14 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 819px}
.u-section-3 .u-text-1 {width: 340px; font-size: 2.25rem}
.u-section-3 .u-layout-wrap-1 {width: 340px}
.u-section-3 .u-layout-wrap-2 {width: 340px}
.u-section-3 .u-layout-wrap-3 {width: 340px}
.u-section-3 .u-layout-wrap-4 {width: 340px}
.u-section-3 .u-layout-wrap-5 {width: 340px}
.u-section-3 .u-layout-wrap-6 {width: 340px}
.u-section-3 .u-layout-wrap-7 {width: 340px} }.u-section-4 {background-image: none; min-height: 935px}
.u-section-4 .u-image-1 {height: 598px; object-position: 50% 100%; background-position: 50% 100%; margin: 0 auto 0 0}
.u-section-4 .u-shape-1 {height: 634px; width: 1140px; margin: -317px auto 0}
.u-section-4 .u-layout-wrap-1 {width: 1140px; margin: -634px auto 24px}
.u-section-4 .u-layout-cell-1 {min-height: 177px}
.u-section-4 .u-container-layout-1 {padding: 30px}
.u-section-4 .u-text-1 {width: 612px; font-size: 3.75rem; font-weight: normal; margin: 0 auto}
.u-section-4 .u-text-2 {font-size: 1.125rem; width: 612px; margin: 20px auto 0}
.u-section-4 .u-layout-cell-2 {background-position: 0% 0%; min-height: 396px}
.u-section-4 .u-image-2 {height: 236px; margin: 0 auto}
.u-section-4 .u-text-3 {margin-top: 30px}
.u-section-4 .u-text-4 {font-style: italic; font-size: 0.875rem; margin-top: 20px; margin-bottom: 30px}
.u-section-4 .u-layout-cell-3 {background-position: 0% 0%; min-height: 396px}
.u-section-4 .u-image-3 {height: 236px; margin: 0 auto}
.u-section-4 .u-text-5 {margin-top: 30px}
.u-section-4 .u-text-6 {font-style: italic; font-size: 0.875rem; margin-top: 20px; margin-bottom: 30px}
.u-section-4 .u-layout-cell-4 {min-height: 396px}
.u-section-4 .u-image-4 {height: 236px; margin: 0 auto}
.u-section-4 .u-text-7 {margin-top: 31px; margin-left: 0; margin-right: 0}
.u-section-4 .u-text-8 {font-style: italic; font-size: 0.875rem; margin: 20px 20px 30px 0} 

@media (max-width: 1199px){ .u-section-4 {min-height: 955px}
.u-section-4 .u-image-1 {margin-right: initial; margin-left: initial}
.u-section-4 .u-shape-1 {height: 747px; width: 940px}
.u-section-4 .u-layout-wrap-1 {width: 940px; margin-top: -747px}
.u-section-4 .u-layout-cell-1 {min-height: 146px}
.u-section-4 .u-text-1 {font-weight: 400}
.u-section-4 .u-layout-cell-2 {min-height: 326px}
.u-section-4 .u-image-2 {height: 195px; margin-right: initial; margin-left: initial}
.u-section-4 .u-layout-cell-3 {min-height: 326px}
.u-section-4 .u-image-3 {height: 195px; margin-right: initial; margin-left: initial}
.u-section-4 .u-layout-cell-4 {min-height: 326px}
.u-section-4 .u-image-4 {height: 195px; margin-right: initial; margin-left: initial}
.u-section-4 .u-text-8 {margin-right: 0} }

@media (max-width: 991px){ .u-section-4 {min-height: 960px}
.u-section-4 .u-shape-1 {height: 779px; width: 720px}
.u-section-4 .u-layout-wrap-1 {width: 720px; margin-top: -779px}
.u-section-4 .u-layout-cell-1 {min-height: 100px}
.u-section-4 .u-text-1 {margin-left: 0; margin-right: 0}
.u-section-4 .u-text-2 {margin-left: 0; margin-right: 0}
.u-section-4 .u-layout-cell-2 {min-height: 100px}
.u-section-4 .u-image-2 {height: 149px; margin-right: initial; margin-left: initial}
.u-section-4 .u-layout-cell-3 {min-height: 100px}
.u-section-4 .u-image-3 {height: 149px; margin-right: initial; margin-left: initial}
.u-section-4 .u-layout-cell-4 {min-height: 100px}
.u-section-4 .u-image-4 {height: 149px; margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-4 {min-height: 3535px}
.u-section-4 .u-shape-1 {height: 1942px; width: 540px}
.u-section-4 .u-layout-wrap-1 {width: 540px; margin-top: -1941px}
.u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-text-1 {width: 520px}
.u-section-4 .u-text-2 {width: 520px}
.u-section-4 .u-image-2 {height: 335px; margin-right: initial; margin-left: initial}
.u-section-4 .u-image-3 {height: 335px; margin-right: initial; margin-left: initial}
.u-section-4 .u-image-4 {height: 335px; margin-right: initial; margin-left: initial} }

@media (max-width: 575px){ .u-section-4 {min-height: 3316px}
.u-section-4 .u-shape-1 {height: 1723px; width: 340px}
.u-section-4 .u-layout-wrap-1 {width: 340px; margin-top: -1723px}
.u-section-4 .u-text-1 {font-size: 2.125rem; width: 320px}
.u-section-4 .u-text-2 {width: 320px}
.u-section-4 .u-image-2 {height: 211px; margin-right: initial; margin-left: initial}
.u-section-4 .u-image-3 {height: 211px; margin-right: initial; margin-left: initial}
.u-section-4 .u-image-4 {height: 211px; margin-right: initial; margin-left: initial} }